:root {
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;

  --color-bg: #f8fafc;
  --color-surface: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #475569;
  --color-accent: #3b82f6;
  --color-accent-hover: #2563eb;
  --color-border: rgba(15, 23, 42, 0.06);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3rem;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-6: 3rem;
  --space-8: 4rem;
  --space-12: 6rem;
  --space-16: 8rem;
  --shadow: 0px 0px 24px -13px rgba(0, 0, 0, 0.2);
  --shadow-hover: 0px 28px 24px -33px rgba(0, 0, 0, 0.2);
  --transition-fast: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  color: var(--texte);
  background: var(--color-bg);
  padding: 0;
  margin: 0;
}

main,
header,
footer {
  padding: 0 var(--space-2);
}

/* ======================
* header
* =====================*/
header {
  width: 100%;
  max-width: 1350px;
  margin-top: var(--space-1);
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(14px);
  padding: var(--space-2) var(--space-1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  position: sticky;
  top: var(--space-1);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
}

header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-1);
}

header input,
header select {
  padding: var(--space-1);
  border-radius: var(--radius-md);
  border: 1px solid transparent;
  background-color: lightgray;
  outline: none;
  transition: var(--transition-fast);
}
header input:hover,
header select:hover,
header input:focus,
header select:focus {
  border: 1px solid var(--color-accent-hover);
}

header input:focus,
header select:focus {
  background-color: var(--color-surface);
}

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    /*background-color: var(--color-surface);*/
    padding: var(--space-1) var(--space-2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-1);

    border-bottom: 1px solid var(--color-border);
  }

  header .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    line-height: 1.4;
  }

  header form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-1);
  }

  header input,
  header select {
    padding: var(--space-1);
    border-radius: var(--radius-md);
    border: 1px solid transparent;
    background-color: lightgray;
    outline: none;
    transition: var(--transition-fast);
  }
  header input:hover,
  header select:hover,
  header input:focus,
  header select:focus {
    border: 1px solid var(--color-accent-hover);
  }

  header input:focus,
  header select:focus {
    background-color: var(--color-surface);
  }
}
/* ======================
* sortie dynamique
* =====================*/
#sortie {
  padding: var(--space-2);
  display: grid;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-3);
}

/* ======================
* message d'erreur
* =====================*/

.error-massage {
  display: block;
  margin-top: 12rem;
  margin-bottom: 12rem;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
  font-size: var(--text-lg);
}
/* ======================
* cards
* =====================*/

.card {
  background: var(--color-surface);
  border-radius: var(--radius-md);
  padding: var(--space-1);
  /*width: fit-content;*/
  box-shadow: var(--shadow);
  transition: var(--transition-fast);
  border: 1px solid var(--color-border);
}

.card img {
  border-radius: var(--radius-lg);
  object-fit: cover;
  aspect-ratio: 3/2;
  overflow: hidden;
}

.card .card-body {
  padding: var(--space-1);
}

img {
  display: inline-flex;
  max-width: 100%;
}

.card:hover {
  box-shadow: var(--shadow-hover);
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
}

/* ======================
* footer
* =====================*/

footer {
  padding: var(--space-2) var(--space-1);
  background-color: var(--color-surface);
  border-top: 1px solid var(--color-border);
}

footer p {
  margin-inline: auto;
  text-align: center;
}

/* ======================
* real error
* =====================*/

.real-error {
  margin-inline: auto;
}

.real-error p {
  padding: var(--space-2);
  margin-bottom: 12px;
  background-color: #fef2f2;
  color: #dc2626;
  border-left: 5px solid #dc2626;
}

.real-error a {
  padding: var(--space-1);
  display: inline-block;
  background-color: var(--color-accent);
  text-decoration: none;
  border-radius: var(--radius-md);
  font-weight: 700;
  color: var(--color-surface);
}

.real-error a:hover {
  box-shadow: var(--shadow);
}

.real-error a:focus {
  transform: translateY(-4px);
}

.real-error:hover,
.real-error:focus {
  transform: none;
}

/* ======================
* loading cards
* =====================*/

.loading-cards {
  box-shadow: none;
  background-color: rgb(243, 243, 243);
  animation: pulse 2s linear infinite;
}

.loading-cards * {
  color: rgba(0, 0, 0, 0);
}

.loading-cards p {
  background-color: gray;
  margin-top: var(--space-2);
  border-radius: var(--radius-md);
}

.loading-cards:hover,
.loading-cards:focus {
  transform: none;
  box-shadow: none;
}

.loading-cards .placeholder {
  width: 100%;
  height: 150px;
  background-color: gray;
  border-radius: var(--radius-lg);
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 0.5;
  }
}
